.thumbnail {
    width: 100%;
}

p {
    font-size: 1.125rem;

    a {
        text-decoration: none;
    }

    b {
        font-weight: 700;
    }
}

.caption {
    color: #8d9197;
    font-size: 0.875rem;
    margin-bottom: 2rem;
}