<img class="thumbnail" src="thumbnail.avif" alt="">
<p class="caption">Breaking down the details behind Saturday's stunning news that Luka Dončić is heading to the Lakers.</p>
<p>
    <a href="https://www.nba.com/player/1629029/luka-doncic">Luka Dončić</a> led Dallas to the NBA Finals last season. Anthony Davis won a championship with the Los Angeles Lakers.
    <br><br>
    They're switching teams now — in an absolute blockbuster.
    <br><br>
    <b>The Mavericks announced Sunday that they have traded Kia NBA MVP candidate Dončić to the Lakers in exchange for 10-time All-Star Davis,</b> reserve guard Max Christie and a 2029 first-round draft pick.
    <br><br>
    The three-team deal, in which Los Angeles acquires veteran forwards Maxi Kleber and Markieff Morris, also includes Utah getting Jalen Hood-Schifino and a 2025 second-rounder from both the Mavs and Lakers.
</p>