<p class="category-label">TOP STORIES</p>
<h1>Lakers acquire Luka Dončić from Mavericks for Anthony Davis in blockbuster, 3-team trade</h1>
<h2>The trade shocks waves throughout the NBA with two of the league's top players changing teams</h2>
<app-divider></app-divider>
<div class="article-information">
  <h2>From NBA.com News Services</h2>
  <h2 class="last-updated-text">Updated on February 3, 2025 3:40 AM</h2>
</div>
<div class="column-layout">
  <app-article></app-article>
  <app-related-panel></app-related-panel>
</div>